body {
    font-family: 'Acme', sans-serif;
    font-size: 16px;
    background-color: rgb(29, 10, 82);
    // background-color: #0148FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%233B006F'/%3E%3Cstop offset='1' stop-color='%23FF6B41'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='4' height='4' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%230148FF' cx='2' cy='2' r='2'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.24'/%3E%3C/svg%3E");
    background-attachment: fixed;
    
}

* {
    box-sizing : border-box;
    line-height: 1.5!important;
    letter-spacing:.12em!important;
    word-spacing: .16em !important;
}

p {
    margin-bottom: 2em!important;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.container {
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;

    .play{
        // width: fit-content;
        margin: 2rem;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        border-radius: 1.5rem;

        &:hover {
            color: white;
            background-color: rgba(43, 201, 82, 0.979);
        }
    }

    .cheat {
        padding: 1rem 2rem;
        font-size: 1.1rem;
        border-radius: 1.5rem;
        // background-color: rgba(231, 13, 13, 0.979);

        &:hover {
            color: white;
            background-color: rgba(231, 13, 13, 0.979);
        }
    }
}

.stats {
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Acme', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.elements{
    display: flex;
    column-gap: 2rem;
    justify-content: center;

    button {
        border: 0.4rem solid black;
        border-radius: 2rem;
        padding: 0.5rem;
        background-color: white;
    }

    img {
        width: 100%;
        height: 15vh;
    }
}

.selected {
    border-color: red !important;
}

.leaf {
    color: green;
}

.rock {
    color: rgb(32, 32, 32);
}

.scissors {
    color: rgba(173, 31, 12, 0.822);
}

.well {
    color: rgb(52, 3, 117);
}

section {
    border: 1px solid black;
    padding: 0 2rem;
    border-radius: 2rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.603);
}

.current-game {
    text-align: center;
}

span {
    color: darkblue;
    font-weight: bold;
}

.rules {
    width: 30%;
}

.hidden {
    display: none;
}

.play {
    justify-self: center;
}

footer {
    margin: 2rem;
    text-align: center;
}

.stats {
    align-items: flex-start;
}