@use '../mixins';

.rules {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    max-height: fit-content;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    p {
        margin: 0;
    } 

    @include mixins.medium {
        grid-column: 1;
        grid-row: 1 / 2;
    }
}

.rules-list {
        list-style-image: url("./img/puce.png");
        padding-left: 2rem;
    }