.rules {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding-bottom: 1rem;

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    p {
        margin: 0;
    } 
}
.rules-list {
        list-style-image: url("./img/puce.png");
        padding-left: 2rem;
    }